
.login-container{
    width: 100%;
    height: 100%;
}

.login-inner-box{
     width: 100%;
     height: 100vh;
     margin: 0 auto;
    text-align: center;
  background: url("../../src/assets/images/1440login.png")no-repeat;
  background-size:  cover;
}
@media screen and (min-width:1441px) {
  .login-inner-box{
    background: url("../../src/assets/images/1920login.png")no-repeat;
    background-size:  cover;
  }
}
.login-img{
    margin-bottom: 30px;
    user-select: none;
}
.login-form{
  position: relative;
  width: 364px;
  border-radius: 10px;
  padding: 20px 0;
  margin: 0 auto;
  padding-top: 17%;
  box-sizing: border-box;

}

.login-input{
  background: none;
    width:100%;
    border:none;
    padding:10px 0;
    font-size: 14px;
    margin-bottom: 12px;
  border-radius: 5px!important;
}
.login-btn{
    line-height: 1;
     padding: 0;
     background: #e6762f !important;
     color: #000;
}
.login-btn:hover{
    background: #EB7A32 !important;
    box-shadow: 0px 6px 34px rgba(76, 123, 255, 0.27) !important;
}
.login-btn:focus{
     background: #EB7A32 !important;
}

.backshadow{
    box-shadow: 0px 6px 20px rgba(76, 123, 255, 0.08) !important
}




.fixed-bar{
    width: 100%;
    font-size: 12px;
     position: fixed;
  bottom: -10px;
     z-index: 99;
     color: #000!important;
     text-align:center;
    }
.fixed-bar p{
   margin-bottom:12px;
   user-select: none;
        }

 @media screen and (max-height:500px) {
        .fixed-bar{
            display: none;
        }
}
